body {
  background-image: url(resumebackground.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue
}


h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2rem;
  color: white;
}
.nav {
  font-family: "Courier New", Courier, monospace;
  font-size:  1rem;
  text-align: right;
  color: white;
  list-style-type: none;
}
a {
  color: white;
}
ul{
  list-style-type: none;
}

.resume {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  list-style-type: circle;
}

h2  {
  text-decoration: underline;
}
h3  {
  font-weight: bold;
}
h4  {
  font-style: italic;
}
